<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="color: blue;">Task1</h1>
    

    <p>Hi there </p>
    <p>It works</p>
    <p style="background-color: rgb(24, 214, 24);">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolores eum non necessitatibus aspernatur vitae fugiat totam neque exercitationem, 
        eveniet facilis repellat dolor eaque aperiam veritatis,
         numquam consectetur nam voluptatem facere!</p>

        {% for post in posts %}
         {{ post }} <br/>
         {% endfor %}

</body>
</html>